# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv/
venv/
.envrc
env_check.py
dev.sh
prod.sh
test.sh
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# Build
dist/
build/
*.egg-info/

# Docker
*.pid
*.log
*.log
!commits.log.env
